@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import 'tailwindcss';
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  /* --color-*: initial;
  --heroui-*: initial; */
  --color-primary: #4682b4; /* Primary color for headings */
  --color-secondary: #c86565ff; /* Secondary color for text */

  --color-logo: rgb(20, 35, 96); /* Color for logo */

  --color-navbar: #f0f8ffbb; /* Used for navbar and navbarmenu, slightly transparent for blur*/


  /* --color-title: #f0f8ff; /* Color for h1 */
  /*--color-subtitle: var(--color-secondary); /* Color for h2 */

  --color-background: #ffffff; /* Background color for the page */
  --color-foreground: #060810ff; /* Color for foreground containers*/

  --scroll-progress-width: 9%; /* Width of the scroll progress bar */
  --color-hover: #c86565ff; /* Color for hover effects */
  --color-selected: #c86565ff; /* Color for selected in Navbar*/
  --color-secondary: #87ceeb; /* Secondary color for text */
  /* Available font types for Dongle: font-light font-normal font-bold*/ 
  --font-sans: Dongle, system-ui, sans-serif;
}

.font-primary {
  @apply font-sans text-3xl;
}

/* Customizing Navbar color overrides for larger screens 

Uses @apply and color: for redundancy

*/

.logo {
  @apply text-logo text-2xl;
}

/* Custom scroll progress bar behavior to sync well with scroll position
Uses scroll-progress-width, which is set by eventHandler in Navbar */
.scroll-progress {
  /* transition: none !important; */
  /* animation: none !important; */
  transform: none !important;
  width: var(--scroll-progress-width, 0%);
}

.navbar-custom {
  @apply backdrop-blur-md bg-navbar py-1 pb-2;
  --navbar-height: 4rem !important;
  /* If this doesn't work, add !text-xl to className of tabs */
  --heroui-font-size-small: var(--text-xl);
}
.navbar-custom[data-menu-open="true"] {
  @apply !backdrop-blur-lg; /* Different blur when menu is open */
}

.navbar-menu-custom {
  @apply !w-fit !max-h-fit !overflow-hidden p-5 pt-7 backdrop-blur-sm bg-navbar;
}

.navbar-menu-text-size {
  @apply text-2xl;
}

[data-slot="tabList"] [data-slot="tab"][data-selected="true"] [data-slot="cursor"] {
  @apply bg-selected;
  background-color: var(--color-selected);
}

[data-slot="tabList"] [data-slot="tab"] [data-slot="tabContent"] {
  @apply text-primary;
  color: var(--color-primary);
}

[data-slot="tabList"] [data-slot="tab"][data-selected="true"] [data-slot="tabContent"] {
  @apply text-selected;
  color: var(--color-selected);
}

[data-slot="tabList"] [data-slot="tab"]:hover [data-slot="tabContent"] {
  @apply text-hover;
  color: var(--color-hover);
}


/* Header styles */

name {
  @apply text-7xl md:text-8xl lg:text-[7rem] xl:text-9xl 2xl:text-[10rem] font-bold text-logo;
}


/* REST OF CSS */

/* All elements must set their custom margins and paddings */
html {
  overflow: auto;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


h1 {
  @apply text-6xl md:text-7xl 2xl:text-8xl font-bold text-primary;
}
h2 {
  @apply text-4xl md:text-5xl 2xl:text-6xl font-normal text-secondary;
}
h3 {
  @apply text-6xl md:text-7xl 2xl:text-8xl font-normal text-secondary;
}
/* Tailwind handles most resets and base styles, but you can add customizations below */

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
a {
  font-weight: 500;
  color: #7b7777;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/